.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
}

.header-menu-bar{

}

.menu-bar img {
  height: 40px;
}

.menu-bar-nav {
  display: flex;
  gap: 20px;
  transition: all 1s ease-in-out;
}

.menu-bar-nav a {
  text-decoration: none;
  color: var(--color-text);
}

.menu-bar-nav a:hover{
  color: var(--color-primary);
}

.menu-button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-button svg {
  fill: var(--color-text);
  width: 30px;
  height: 30px;
}

.menu-bar-nav.active {
  display: flex;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #f6f6f6;
  flex-direction: column;
  align-items: center;
  padding: 20px;


  transition: all 0.5s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-bar-nav {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header-menu-bar {
    width: 900px;
    margin: 0 auto;
  }
}