.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  margin-bottom: 80px;
  background: rgba(67, 175, 146, 0.1);
  background-image: url(../../assets/background-search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.select {
  margin: 20px;
  width: -webkit-fill-available;
}

.card-grid-content {
  padding: 0 20px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.search-content-select {
  width: -webkit-fill-available;
}

.button-card-grid {
  width: 150px;
  height: 50px;
  background-color: var(--color-secondary);
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  margin: 20px 0;
}

.button-card-grid:hover {
  background-color: var(--color-secondary-dark);
}

/* Responsive */
@media (min-width: 768px) {
  .search-content-select {
    display: flex;
  }

  .card-grid-content {
    gap: 50px 4px;
  }
}

@media (min-width: 1024px) {
  .search-content-select {
    width: 900px;
    margin: 0 auto;
  }

  .card-grid-content {
    gap: 80px 20px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 2560px) {
  .card-grid-content {
    display: flex;
    justify-content: center;
    gap: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
