

.header-content {
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.header-content_text h1{
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  
}

.header-content_text{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-content_text p{
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
} 

.header-content-img img{
  max-width: 100%;
}
