.header-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 100vh;
}

.header-content div {
  flex: 1;
}

.header-content h1, .header-content p {
  padding: 1em;
}

.header-content-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content-img img {
  max-width: 100%;
  height: auto;
}